body {
    margin: 0;
    padding: 0;
    color: #f5f5f5;
    background-color: #121212;
    font-family: "Poppins", sans-serif;
}

header {
    padding: 1.5rem 0;
    text-align: center;
    background: #1e1e1e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2rem;
    color: #ffb703;
}

main {
    padding: 1.5rem;
    max-width: 600px;
    margin: 2rem auto;
    border-radius: 12px;
    background: #1f1f1f;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
}

button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: #ffb703;
    transition: background 0.3s;
}

button:hover {
    background-color: #ff9e00;
}

.task {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    align-items: center;
    background: #2a2a2a;
    transition: all 0.3s ease;
    justify-content: space-between;
}

.task.completed {
    color: #888;
    background: #333;
    text-decoration: line-through;
}

.actions a {
    color: #ffb703;
    margin-left: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.actions a:hover {
    color: #ff9e00;
}