body {
    margin: 0;
    padding: 0;
    color: #eaeaea;
    background-color: #0f1115;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    background-color: #181a1f;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #00bcd4;
}

.btn {
    color: #fff;
    transition: 0.3s;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #00bcd4;
}

.btn:hover {
    background-color: #0097a7;
}

.cards {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    padding: 1.5rem;
    border-radius: 12px;
    transition: transform 0.3s;
    background-color: #1f232a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.card:hover {
    transform: translateY(-5px);
}

form {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 2rem auto;
    border-radius: 10px;
    flex-direction: column;
    background-color: #1f232a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

label {
    margin-top: 1rem;
}

input, select, button {
    border: none;
    padding: 0.6rem;
    margin-top: 0.5rem;
    border-radius: 6px;
}

button {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 1.5rem;
    background-color: #00bcd4;
}

button:hover {
    background-color: #0097a7;
}

.empty {
    margin-top: 2rem;
    text-align: center;
    font-style: italic;
}

.delete-btn {
    border: none;
    color: white;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: #b33939;
    transition: background-color 0.2s;
}
  
.delete-btn:hover {
    background-color: #eb2f06;
}
